<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Registros encontrados</h6>
                <button id="exportButton" style="
                            background-color: #28a745; /* Color verde */
                            color: #fff; /* Texto en blanco */
                            border: none;
                            padding: 10px 15px;
                            border-radius: 4px;
                            cursor: pointer;
                            font-size: 14px;
                            ">
                    <i class="fas fa-file-excel"></i>
                </button>
                <div class="table-responsive">
                    <table id="tableUsers" class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Documento</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Rol</th>
                                <th>Estado</th>
                                <th>Ver/Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users; let i = index">
                                <td>{{ user.id }}</td>
                                <td>{{ user.documento }}</td>
                                <td>{{ user.nombres }}</td>
                                <td>{{ user.apellidos }}</td>
                                <td>{{ user.rol }}</td>
                                <td>{{ user.is_active == "1" ? "Activo" : "Inactivo" }}</td>
                                <td><i style="cursor: pointer;" class="fa fa-eye" (click)="getUser(user)"></i></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>