
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Detalle del usuario</h6>
          <p class="text-muted mb-3">Permisos por modulo</p>
  
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Menu</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of menu; let i = index">
                  <td>{{ item.id_menu }}</td>
                  <td>{{ item.is_parent == "1" ? 'Menu ' + item.label : item.label_item_parent != "" ? item.label_item_parent + " > " + item.label : item.label}}</td>
                  <td><input class="form-check-input" type="checkbox" checked disabled></td>
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>
</div>