<app-loader></app-loader>

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Roles</a></li>
      <!-- <li class="breadcrumb-item active" aria-current="page">{{ persona }}</li> -->
    </ol>
  </nav>
  
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
  
          <h6 class="card-title">Configuración de los roles</h6>
  
          <form class="forms-sample" #form_roles="ngForm">
            
            <div class="row">
              <div class="col-md-10 mb-3">
                <label for="selectedRol" class="form-label">Roles existentes</label>
                <ng-select [items]="roles"
                  bindLabel="rol"
                  bindValue="rol"
                  placeholder="Selecciona un rol"
                  (change)="getMenuRoles()"
                  [(ngModel)]="selectedRol"
                  name="selectedRol"
                  [clearable]="true"
                  (clear)="onClear()"
                  #selectRol>
                </ng-select>
                <!-- <select class="form-select" name="rol" id="rol" [(ngModel)]="selectedRol" (change)="getMenuRoles()">
                  <option *ngFor="let rol of roles" [value]="rol.id_rol">{{ rol.rol }}</option>
                </select> -->
              </div>
              <div class="col-md-1 mb-3" style="display: flex; align-items: flex-end;">
                <button type="button" class="btn btn-primary btn-icon" (click)="openBasicModal(basicModal)">
                  <i class="feather icon-edit"></i>
                </button>
              </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Menu</th>
                      <th>Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of menuItems; let i = index">
                      <td>{{ item.id_menu }}</td>
                      <td>{{ item.is_parent == "1" ? 'Menu ' + item.label : item.label_item_parent != "" ? item.label_item_parent + " > " + item.label : item.label}}</td>
                      <td><input class="form-check-input" type="checkbox" role="switch" (change)="setMenuRol(item, $event)" [checked]="item.checked"></td>
                    </tr>
                  </tbody>
                </table>
            </div>
              
            
            <!-- <button class="btn btn-primary me-2" (click)="getUser(usuarios.value.document)">Consultar</button> -->
            <!-- <button class="btn btn-success me-2" (click)="setModulos($event)">Guardar</button>
            <button class="btn btn-danger" (click)="cleanForm()">Limpiar</button> -->
          </form>
  
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #basicModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Agregar rol</h5>
      <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body row">
      <div class="mb-3 col-md-2">
        <label for="id_rol" class="form-label">ID</label>
        <input type="text" class="form-control" name="id_rol" id="id_rol" autocomplete="off" placeholder="Ingrese nombre del rol" [(ngModel)]="this.id_rol" disabled>
      </div>
      <div class="mb-3 col-md-10">
        <label for="name_rol" class="form-label">Nombre del rol</label>
        <input type="text" class="form-control" name="name_rol" id="name_rol" autocomplete="off" placeholder="Ingrese nombre del rol" [(ngModel)]="name_rol" #nameRolInput>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Cerrar</button>
      <button type="button" class="btn btn-success" (click)="setRol()">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="delRol()">Eliminar</button>
    </div>
  </ng-template>
  <!-- Close result -->
  <!-- <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p> -->