<div class="row">
  <div class="col-md-12 stretch-card">
      <div class="card">
          <div class="card-body">
              <h6 class="card-title">Registros encontrados</h6>
              <button id="exportButton" style="
                          background-color: #28a745; /* Color verde */
                          color: #fff; /* Texto en blanco */
                          border: none;
                          padding: 10px 15px;
                          border-radius: 4px;
                          cursor: pointer;
                          font-size: 14px;
                          ">
                  <i class="fas fa-file-excel"></i>
              </button>
              <div class="table-responsive">
                <div class="table-responsive">
                  <table id="listPendingDocuments" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Documento</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Contrato</th>
                        <th>Estado</th>
                        <th>Ver/Firmar</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
            </div>
      </div>
  </div>
</div>
